.accountContainer{
  width: 150px;
  height: 150px;


}

.accountContainer img{
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: all 0.5ms ease-in-out;
  
}

.accountContainer img:hover{
  transform: scale(1.2);
  
}

.textAccount{
  color: aliceblue;
  text-align: center;
  padding: 15px 0px
}