.loginContainer{
  background-image: url(../assets/loginportada.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size:cover;
  height: 100vh;
  padding: 0%;
}

.loginInfoContainer{
  width: 550px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 160px auto;
  gap: 20px;
  color: aliceblue;

}
.loginContainer h2{
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing :1.1px
}

.loginContainer p{
  font-size: 1.5rem;
  font-weight: 600;
}
