.profileContainer{
  background-color: black;
  height: 95vh;
  padding: 15px 20px;
  position: relative;

}

.profileInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}
.profileInfo h2{
  font-size: 2.6rem;
  color: aliceblue;
  font-weight: 600;
}

.profiles {
  height: 160px;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 40px auto 0px

}

.profileBtnContainer{
  display: grid;
  place-items: center;
}

.profileBtn{
  border: none;
  outline: none;
  position: absolute;
  bottom: 100px;
  padding: 10px;
  background-color: transparent;
  border: 2px solid rgb(73, 73, 73);
  border-radius: 4px;
  width: 350px;
  color:rgb(134, 134, 134) ;
  font-weight: 300;
  font-size: 17px;
  cursor: pointer;
  
}

.btnProfileAddContainer{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  cursor: pointer;



}
.btnProfileAddContainer span{
  width: max-content;
  color: aliceblue;
  
}
.btnProfileAdd{
  background-color: transparent;
  border: none;
  cursor: pointer;

}
@media (max-width:860px){
  .profiles{
    flex-wrap: wrap;
    height: 500px;
  }
  .profileInfo{
    margin-top: 10px;
  }
  .profileInfo h2{
    font-size: 1.6rem;
  }
 .profileBtn{
  bottom: 80px;
 }

}
@media (max-width:481px){
  .btnProfileAddContainer{
    margin-top: 0px;
  }
}
@media (max-width:480px){
  .btnProfileAdd img{
    width: 90px;
   }
   .profileBtn{
    bottom: 120px;
   }
   .profiles{
    flex-wrap: wrap;
    height: 370px;
  }
  
}