.signInContainer{
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  max-width: 380px;
  height: 380px;
  background-color: rgba(0, 0, 0, 0.404);
  
}
.signInContainer h2{
  color: aliceblue;
  font-size: 28px;
  margin: 40px;
}
.signInContainer form{
  margin: 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnSignIn{
  margin-top: 20px;
}

.signHelp{
  display: flex;
  margin: 7px 40px;
  gap: 10px;
}
.signHelp a,
.signHelp p{
  text-decoration: none;
  font-size: 14px;
  color: rgb(236, 234, 232);
}
.signHelp a:hover{
  text-decoration: underline;
}

@media (max-width:450px) {
  .signHelp{
    margin-top: 20px;
    flex-direction: column;
  }
}